
// Body
$body-bg: #73879C;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
//Main Theme Color
$danger: #e84339;

//Side link is Active Veriable 
$menu-item-active-background-color:$danger;
$menu-item-hover-background-color:$danger;
$menu-item-active-color	:white;

$left-container-color:#F7F3F4;
