body{
 
}
// Main Nav Style section Start
.navbar{
  box-shadow: 0 2px 8px -2px rgba(0,0,0,.2);
}
.navbar-item img {
  max-height: 2.75rem;
}
.navbar-burger {
  margin-left:0;
  margin-right: auto;
}


.is-vertical-center {
  display: flex;
  align-items: center;
}
.profile{
  display: flex;
}
.navbar-link::after {
  border-color:$danger
}
// Main Nav Style section End

//Side Nav Section Style Start
.main-container{
  display: flex;
  justify-content: start;
  height: 1000px;
  padding: 0px 12px 0px 0px;
}
.right-container{
  box-shadow: -5px 0 4px -5px #333;

  @include until($desktop) {
    // border-bottom: 1px solid green;
    width: 0rem;
    &.is-shown{
      width:14rem;
    }
  }
  width: 14rem;
  .menu-label{
    font-size:1rem;
  }
  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  .menu-list li ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
}
.left-container{
  transition: 0.2s width ease;
  width: 100%;
  background-color:$left-container-color;
}
//Side Nav Section Style End
